name: my first workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repo
              uses: actions/checkout@v5
            - name: list files
              run: ls -ltrh
            - name: install cowsay
              run: ./script.sh
  
