name: solar-system workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'

jobs:
  unit-testing:
    name: unit-testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup nodejs version
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: install dependencies
        run: npm install

      - name: unit testing
        run: npm test

  code-coverage:
    name: code coverage
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: setup nodejs version
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: install dependencies
        run: npm install

      - name: code coverage
        run: npm run code-coverage   # <-- adjust this to match your package.json script

      - name: archive test results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 5
